.blue {
    background: blue;
    color: white;
}

.red {
    background: red;
    color: white;
}

.purple {
    background: purple;
    color: white;
}

.cyan {
    background: black;
    color: cyan;
}