<!-- <common-ng-app-bar-element
class="fixed-top bl scrollable-y glo-0-drop"
style="max-height: 100vh"
>
    
    <div
    class="sticky"
    style="top: 0"
    >
    <div
    class="flex"
    >
        <div
        class="ib"
        style="width: 15%;"
        >

            <common-ng-button-element
            (click)="open('left')"
            class="tcenter p glo-0-text-ani bl scrollable glo-0-text-trim"
            [text]="'hihihihihi'"
            ></common-ng-button-element>

        </div>
        <div
        class="ib"
        style="width: 70%;"
        >
            <common-ng-router-element
            [ngClass]="{'hidden': util.router._renderedRoutes.length === 0}"
            class="tcenter glo-0-text-trim bl"
            style="border-radius: 0; border-right: 0; border-left: 0; box-shadow: none; backdrop-filter: blur(5px);"
            ></common-ng-router-element>
        </div>
        <div 
        class="ib"
        style="width: 15%; overflow: auto"
        >
            <common-ng-button-element
            (click)="open('right')"
            class="tcenter p glo-0-text-ani bl scrollable glo-0-text-trim"
            [text]="'user'"
            ></common-ng-button-element>
        </div>
    </div>
    </div>

    <div
    class="container"
    >
        <app-bar-left-element
        class="bl scrollable-content"
        *ngIf="show === 'left'"
        ></app-bar-left-element>

        <app-bar-right-element
        class="bl scrollable-content"
        *ngIf="show === 'right'"
        ></app-bar-right-element>
    </div>

</common-ng-app-bar-element> -->

<common-ng-app-bar-artifact
>

    <div
    left-button
    [ngClass]="{'glo-0-shadow' : leftButton.toggle}"
    >
        <common-ng-button-element
        class="tcenter p glo-0-text-ani bl scrollable glo-0-text-trim"
        [ngClass]="{'glo-0-shadow' : leftButton.toggle}"
        #leftButton
        >
            hihihihihi
        </common-ng-button-element>
    </div>

    <div
    right-button
    [ngClass]="{'glo-0-shadow' : rightButton.toggle}"
    >
        <common-ng-button-element
        class="tcenter p glo-0-text-ani bl scrollable glo-0-text-trim"
        [ngClass]="{'glo-0-shadow' : rightButton.toggle}"
        #rightButton
        >
            user!
        </common-ng-button-element>
    </div>

    <common-ng-router-element
    [ngClass]="{'hidden': util.router._renderedRoutes.length === 0}"
    class="tcenter glo-0-text-trim bl"
    style="border-radius: 0; border-right: 0; border-left: 0; box-shadow: none; backdrop-filter: blur(5px);"
    middle-bar
    ></common-ng-router-element>

    <app-bar-left-element
    class="bl scrollable-content"
    left-content
    ></app-bar-left-element>

    <app-bar-right-element
    class="bl scrollable-content"
    right-content
    ></app-bar-right-element>

</common-ng-app-bar-artifact>