<ng-template
#leftButton
>
    <common-ng-button-element
    class="tcenter p glo-0-text-ani bl scrollable"
    [ngClass]="{'glo-0-shadow' : barService.middleDirection === 'left'}"
    >
        menu
    </common-ng-button-element>
</ng-template>

<ng-template
#leftBar
>
    <common-ng-select-element
    class="bl glo-0-text-trim"
    [options]="['router', 'toolkit']"
    [(option)]="leftBarOption"
    [initial]="true"
    #leftBarMenu
    ></common-ng-select-element>
</ng-template>

<ng-template
#leftView
>
    <ng-container
    [ngSwitch]="leftBarOption"
    >

        <ng-container
        *ngSwitchCase="'router'"
        >

            <common-ng-select-element
            class="bl glo-0-text-trim"
            [options]="['relative', 'top']"
            [initial]="'relative'"
            #routerSelect
            ></common-ng-select-element>
            
            <ng-container
            [ngSwitch]="routerSelect._option"
            >

                <common-ng-router-element
                *ngSwitchCase="'relative'"
                ></common-ng-router-element>

                <div
                class="scrollable pt pb tcenter"
                *ngSwitchCase="'top'"
                >
                    <ng-container
                    *ngFor="let route of router.router.config"
                    >
                        <common-ng-button-element
                        *ngIf="route.path !== '**'"
                        class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                        (click)="router.route('/' + route.path)"
                        >
                            {{route.path}}
                        </common-ng-button-element>
                        <common-ng-button-element
                        *ngIf="route.path === ''"
                        class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                        (click)="router.route('/')"
                        >
                            /
                        </common-ng-button-element>
                    </ng-container>
                </div>
        
            </ng-container>

        </ng-container>

        <common-ng-toolkit-artifact
        *ngSwitchCase="'toolkit'"
        ></common-ng-toolkit-artifact>
        
    </ng-container>  
</ng-template>