[Desktop Entry]
Type=Application
Exec=x11vnc -forever -loop -noxdamage -repeat -shared
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=x11vnc
Name=x11vnc
Comment[en_US]=
Comment=
