<ng-template
#leftButton
>
    <common-ng-button-element
    class="tcenter p glo-0-text-ani bl scrollable"
    [ngClass]="{'glo-0-shadow' : barService.middleDirection === 'left'}"
    text="lefty"
    ></common-ng-button-element>
</ng-template>

<ng-template
#leftBar
>
    starting left content
</ng-template>

<ng-template
#leftView
>
    <div>
        starting left view!
    </div>  
</ng-template>

<ng-template
#middleBar
>
    example middle bar
</ng-template>

<ng-template
#rightButton
>
    <div
    class="tcenter p glo-0-text-ani bl scrollable"
    [ngClass]="{'glo-0-shadow' : barService.middleDirection === 'right'}"
    >
        <common-ng-button-element
        text="righty"
        ></common-ng-button-element>
    </div>
</ng-template>

<ng-template
#rightBar
>
    <div
    >
        right bar
    </div>
</ng-template>

<ng-template
#rightView
>
    <div class="right-bar-container p" >
        [style.maxHeight]="'calc(100vh - ' + barService.barOffsetHeight + 'px)'"
        <div style="color: pink">bar service offset height calc(100vh - {{barService.barOffsetHeight}}px)</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
    </div>
</ng-template>