<ng-template
#rightButton
>
    <div
    >
        <common-ng-button-element
        text="righty"
        ></common-ng-button-element>
    </div>
</ng-template>

<ng-template
#rightBar
>
    <div
    >
        right bar
    </div>
</ng-template>

<ng-template
#rightView
>
    <div class="right-bar-container background" >
        [style.maxHeight]="'calc(100vh - ' + barService.barOffsetHeight + 'px)'"
        <div style="color: pink">bar service offset height calc(100vh - {{barService.barOffsetHeight}}px)</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
        <div>right bar</div>
    </div>
</ng-template>