<ng-container
[ngSwitch]="menu._option"
>

    <ng-container
    *ngSwitchCase="'router'"
    >

        <common-ng-select-element
        class="bl glo-0-text-trim"
        [options]="['relative', 'top']"
        [initial]="'relative'"
        #routerSelect
        ></common-ng-select-element>
        
        <ng-container
        [ngSwitch]="routerSelect._option"
        >

            <common-ng-router-element
            *ngSwitchCase="'relative'"
            ></common-ng-router-element>

            <div
            class="scrollable pt pb tcenter"
            *ngSwitchCase="'top'"
            >
                <ng-container
                *ngFor="let route of router.router.config"
                >
                    <common-ng-button-element
                    *ngIf="route.path !== '**'"
                    class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                    (click)="router.route('/' + route.path)"
                    >
                        {{route.path}}
                    </common-ng-button-element>
                    <common-ng-button-element
                    *ngIf="route.path === ''"
                    class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                    (click)="router.route('/')"
                    >
                        /
                    </common-ng-button-element>
                </ng-container>
            </div>
    
        </ng-container>

    </ng-container>

    <ng-container
    *ngSwitchCase="'toolkit'"
    >

        <common-ng-select-element
        class="bl glo-0-text-trim"
        [options]="['html', 'json', 'js', 'css', 'http', 'url', 'editor', 'joi']"
        [initial]="true"
        #toolkitSelect
        ></common-ng-select-element>

        <ng-container
        [ngSwitch]="toolkitSelect._option"
        >

            <common-ng-frame-sandbox-element
            *ngSwitchCase="'html'"
            ></common-ng-frame-sandbox-element>

            <ng-container
            *ngSwitchCase="'json'"
            >
                <common-ng-json-artifact
                [model]="{}"
                ></common-ng-json-artifact>
            </ng-container>

            <ng-container
            *ngSwitchCase="'js'"
            >
                <common-ng-code-terminal-element
                (exec)="terminal.output(util.json.eval($event))"
                #terminal
                ></common-ng-code-terminal-element>
            </ng-container>

            <ng-container
            *ngSwitchCase="'css'"
            >
                css
            </ng-container>

            <ng-container
            *ngSwitchCase="'http'"
            >
                http
            </ng-container>

            <ng-container
            *ngSwitchCase="'url'"
            >
                url
            </ng-container>

            <ng-container
            *ngSwitchCase="'editor'"
            >
                editor
            </ng-container>

            <ng-container
            *ngSwitchCase="'joi'"
            >
                joi
            </ng-container>

        </ng-container>
    
    </ng-container>
    
</ng-container>