<ng-container
[ngSwitch]="menu._option"
>

    <ng-container
    *ngSwitchCase="'router'"
    >

        <common-ng-select-element
        [options]="['relative', 'top']"
        [initial]="'relative'"
        #routerSelect
        ></common-ng-select-element>
        
        <ng-container
        [ngSwitch]="routerSelect._option"
        >

            <common-ng-router-element
            *ngSwitchCase="'relative'"
            ></common-ng-router-element>

            <div
            class="scrollable pt pb tcenter"
            *ngSwitchCase="'top'"
            >
                <ng-container
                *ngFor="let route of router.router.config"
                >
                    <common-ng-button-element
                    *ngIf="route.path !== '**'"
                    class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                    (click)="router.route('/' + route.path)"
                    >
                        {{route.path}}
                    </common-ng-button-element>
                    <common-ng-button-element
                    *ngIf="route.path === ''"
                    class="tcenter pr pl glo-0-text-ani glo-0-text-trim"
                    (click)="router.route('/')"
                    >
                        /
                    </common-ng-button-element>
                </ng-container>
            </div>
    
        </ng-container>

    </ng-container>

    <ng-container
    *ngSwitchCase="'playground'"
    >

        <common-ng-frame-sandbox-element
        ></common-ng-frame-sandbox-element>
    
    </ng-container>
    
</ng-container>